<div class="popular">
    <h2>Popular para ti</h2>
    <div class="pupular__scroll">
        <div class="pupular__container">

            <div class="card medium">
                <div class="card__image">
                    <img src="/assets/basic.jpg" alt="">
                </div>
                <div class="card__text">
                    <p>Title</p>
                    <p>category</p>
                </div>
            </div>

            <div class="card medium">
                <div class="card__image">
                    <img src="/assets/basic.jpg" alt="">
                </div>
                <div class="card__text">
                    <p>Title</p>
                    <p>category</p>
                </div>
            </div>

            <div class="card medium">
                <div class="card__image">
                    <img src="/assets/basic.jpg" alt="">
                </div>
                <div class="card__text">
                    <p>Title</p>
                    <p>category</p>
                </div>
            </div>

            <div class="card medium">
                <div class="card__image">
                    <img src="/assets/basic.jpg" alt="">
                </div>
                <div class="card__text">
                    <p>Title</p>
                    <p>category</p>
                </div>
            </div>

            <div class="card medium">
                <div class="card__image">
                    <img src="/assets/basic.jpg" alt="">
                </div>
                <div class="card__text">
                    <p>Title</p>
                    <p>category</p>
                </div>
            </div>


        </div>
    </div>

</div>

<div class="explore">
    <h2>Popular para ti</h2>
    <div class="category_container">
        <p class="active">Todos</p>
        <p>Comida</p>
        <p>Ferreteria</p>
        <p>Veterinaria</p>
        <p>Bar</p>
    </div>
    <div class="explore__container">

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

        <div class="card small">
            <div class="card__image">
                <img src="/assets/basic.jpg" alt="">
            </div>
            <div class="card__text">
                <p>Title</p>
                <p>category</p>
                <p>Open</p>
            </div>
        </div>

    </div>

</div>